---
title: 'Hardcopy backup of {{ name }}'
subtitle: 'SHA256 checksum \texttt{ {{ hexdigest }} }'
author: '{{ author }}'
date: '{{ creation_date }}'
documentclass: article
toc: True
...

\newpage

# Restore

    $ zbarcam | sed -n -e '/^$/N; /^\n$/N; s/^\n\?QR-Code://; p' > data.asc

\newpage
{% for i in range(segments|count) %}
# Hardcopy backup segment {{ i+1 }} of {{ segments|count }} of {{ name }}

SHA256 checksum:

    {{ segments[i].hexdigest }}

![Segment {{ i+1 }}]({{ segments[i].segment_png }} "Segment {{ i+1 }}")

\newpage
{% endfor %}
