---
title: 'Hardcopy backup of {{ name }}'
subtitle: 'SHA1 checksum: \texttt{ {{ hexdigest }} }'
author: '{{ author }}'
date: '{{ creation_date }}'
documentclass: article
toc: True
abstract: |
    Restoring this data, for the impatient:
    \begin{verbatim}
    $ zbarcam \
	| awk -v RS="\n?QR-Code:" -v ORS="" '{ print }' \
	| head -c -1 \
	> data.asc
	\end{verbatim}

    Tested with scanner: $\square$

    Tested with webcam:  $\square$
...

# Restore

Using a webcam:

\begin{verbatim}
$ zbarcam \
| awk -v RS="\n?QR-Code:" -v ORS="" '{ print }' \
| head -c -1 \
> data.asc
\end{verbatim}

Using scanned barcodes:

\begin{verbatim}
$ zbarimg --quiet page-*.pnm \
| awk -v RS="\n?QR-Code:" -v ORS="" '{ print }' \
| head -c -1 \
> data.asc
\end{verbatim}

\newpage

# Data

Data checksum: \texttt{ {{ hexdigest }} }

Segment checksums:
{% for i in range(segments|count) %}
Segment {{ i+1 }}: \texttt{ {{ segments[i].hexdigest }} }
{% endfor %}

\begin{verbatim}
{{ data }}
\end{verbatim}

\newpage

{% for i in range(segments|count) %}
# Barcode backup segment {{ i+1 }} of {{ name }}

Segment {{ i+1 }} of {{ segments|count }}

SHA1 checksum:

    {{ segments[i].hexdigest }}

![Segment {{ i+1 }}]({{ segments[i].barcode_filename }} "Segment {{ i+1 }}")

\newpage
{% endfor %}
